services:
  db:
    image: postgres:15-alpine
    volumes:
      - /var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=stats-service
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

  web:
    build: ..
    ports:
      - "9090:9090"
    depends_on:
      - db
    environment:
      - DB_NAME=stats-service
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - DB_HOST=db
      - DB_PORT=5432